.primary-navigation {

    position: fixed;    
    top: 1rem;
    left: 50%;
    transform:translateX(-50%);

    width: fit-content;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;

    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.543);
    border-radius: 40px;
    border: 2px solid rgb(27, 77, 90);

    margin: 0 auto;

    background-color: rgba(25, 25, 25, 0.904);
    font-size: clamp(0.7rem, 1.2vw, 1.2rem);
    
}
.navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    white-space: nowrap;

    gap: clamp(1rem, 3vw, 2rem);
}
.primary-navigation a{
    text-decoration: none;
    color: rgb(234, 234, 234);
}
.primary-navigation a:hover{
    color: rgb(107, 205, 238);
}