footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(5rem, 10vw, 15vw);

    margin-top: 4rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.107);

    
}
footer a, 
footer p, 
footer i{
    text-decoration: none;
    color:rgb(193, 204, 244);
    
}
footer a i:hover,
footer a:hover{
    color:rgb(255, 255, 255)
}
