* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    line-height: 1.6;

    color: rgb(255, 255, 255);

}

strong{
    font-weight: 750;
    color: rgb(33, 206, 219);
}

body ::selection {
    background-color: rgb(39, 137, 144);
}

.hero-section,
.about-me,
.portfolio,
.testimonials,
.contact {
    padding-top: 5rem;
}

p {
    color: rgb(223, 223, 223);
}

h3 {
    color: rgb(223, 223, 223);
    font-weight: 250
}


.background strong {
    color: rgb(137, 146, 246);
    font-weight: 700;
}

.background2 strong {
    color: rgb(103, 30, 171);
    font-weight: 700;
}



.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
    font-size: 1.4rem;

}



.background-blue {
    background: linear-gradient(to bottom, rgb(27, 22, 84), rgb(18, 5, 33));
    border-bottom: 2px solid rgb(24, 77, 84);
}

.background-green {
    background: linear-gradient(to bottom, rgb(13, 29, 50), rgb(6, 43, 52));
    border-bottom: 2px solid rgb(91, 41, 144);
}