
.two-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    padding-inline: clamp(1rem, 15vw, 25vw)
}

@media (max-width: 950px) {
    .two-grid-layout {
        grid-template-columns: 1fr;
        
    }
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.two-grid-layout img {
    width: min(30rem, 90vw);
    max-inline-size: 100%;

    margin:auto;

    border-radius: 8%;
    border: 2px solid rgb(66, 120, 123);

    aspect-ratio: 1 / 1;
    object-fit: cover;
}

