main{
    min-height: 100vh;
    background-image: url(/CSS/Images/nice-blue-white-background-backdrop-purpose.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}